<%- include('partials/header', { title: 'Edit Profile' }) %>
<h2>Edit profile</h2>
<form method="post" action="/settings/profile" class="classic-form"><input type="hidden" name="_csrf" value="<%= csrfToken %>">
<label>Email <input name="email" value="<%= currentUser.email || '' %>"></label><br>
<label>Show email on public profile <input type="checkbox" name="show_email" value="1"<%= currentUser.show_email ? ' checked' : '' %>></label><br>
<label>Private Email <input name="private_email" value="<%= currentUser.private_email || '' %>"></label><br>
<label>Instant Messaging <input name="instant_messaging" value="<%= currentUser.instant_messaging || '' %>"></label><br>
<label>Picture URL <input name="avatar_url" size="80" value="<%= currentUser.avatar_url || '' %>"></label><br>
<label>Timezone <input name="timezone" value="<%= currentUser.timezone || 'UTC' %>"></label><br>
<label>Quote <input name="quote" maxlength="256" value="<%= currentUser.quote || '' %>"></label><br>
<label>Signature <input name="signature" maxlength="256" value="<%= currentUser.signature || '' %>"></label><br>
<button>Save</button></form>
<%- include('partials/footer') %>
